<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body class="weather">
    <div class="container-fluid">
      <div class="row">
        <div class="results">
          <h1>
            Search Results
          </h1>
          <span class="home"><a href="/">Go Back</a></span>
          <div class="cardboard">
            <div class="c-header">
              <div class="city-info">
                <div class="city">
                  <span class="city-name"><%= data.name %>,</span>
                  <span class="country"><%= data.sys.country%>.</span>
                </div>
                <div class="city2">
                  <span class="city-weather-description"
                    ><%= data.weather[0].description%>.</span
                  >
                  <h3>Now</h3>
                  <span class="city-temperature">
                    <% let temp = data.main.temp - 273.15 %> <%=
                    Math.round(Math.abs(temp))%> C</span
                  >
                </div>
              </div>
              <div class="city-time">
                <img
                  src="https://res.cloudinary.com/jerry299/image/upload/v1598590535/iconfinder_weather04_4102315_gtno4j.png"
                  alt="cloud-logo"
                  class="cloud-logo"
                />
                <div class="date">
                  <h5>
                    <% let days = ["Sunday", "Monday", "Tuesday", "Wednesday",
                    "Thursday", "Friday", "Saturday"]; %> <% let date = new
                    Date()%> <% let month =
                    ["January","February","March","April","May","June","July","August","September","October","November","December"]%>
                    <% let today = `${days[date.getDay()]},
                    ${month[date.getMonth()]} ${date.getDate()},
                    ${date.getFullYear()} `%> <%= today%>
                  </h5>
                </div>
              </div>
            </div>
            <div class="cardboard-body">
              <div class="grid-left">
                <div class="grid-left-item">
                  <h3>Weather Type</h3>
                  <p>
                    <%=data.weather[0].main%><span>
                      <img src="/images/cloud.png" alt="" />
                    </span>
                  </p>
                </div>
                <div class="grid-left-item">
                  <h3>Weather Description</h3>
                  <p><%= data.weather[0].description %><span></span></p>
                </div>
                <div class="grid-left-item">
                  <h3>cloud</h3>
                  <p><%= data.clouds.all %><span> %</span></p>
                </div>
              </div>
              <div class="grid-right">
                <div class="grid-right-item">
                  <h3>Pressure</h3>
                  <p><%= data.main.pressure %><span> hPa</span></p>
                </div>
                <div class="grid-right-item">
                  <h3>Humidity</h3>
                  <p><%= data.main.humidity %><span> %</span></p>
                </div>
                <div class="grid-right-item">
                  <h3>Atmospheric Pressure at Sea Level (hPa)</h3>
                  <p><%= data.main.sea_level %><span></span></p>
                </div>
                <div class="grid-right-item">
                  <h3>Wind Speed</h3>
                  <p><%= data.wind.speed %><span> m/s</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
