<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body class="weather">
    <div class="container">
      <div class="row">
        <div class="results col-sm-12 col-md-8">
          <h1>
            Search Results
          </h1>
          <span class="home"><a href="/api/home">Go Back</a></span>
          <div class="mt-5">
            <div class="c-header">
              <div class="city-info">
                <div class="city">
                  <span class="city-name"><%= data.name %>,</span>
                  <span class="country"><%= data.sys.country%>.</span>
                </div>
                <div class="city2">
                  <span class="city-weather-description"
                    ><%= data.weather[0].description%>.</span
                  >
                  <h3>Now</h3>
                  <span class="city-temperature">
                    <% let temp = data.main.temp - 273.15 %> <%=
                    Math.round(Math.abs(temp))%> C</span
                  >
                </div>
              </div>
              <div class="city-time">
                <img
                  src="https://res.cloudinary.com/jerry299/image/upload/v1598590535/iconfinder_weather04_4102315_gtno4j.png"
                  alt="cloud-logo"
                  class="cloud-logo"
                />
                <div class="date">
                  <h5>
                    <% let today = new Date().toLocaleDateString()%> <%= today%>
                  </h5>
                </div>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="dta-name"> Weather-Type :</span>
                <span class="dta-response"><%=data.weather[0].main%></span>
              </li>
              <li class="list-group-item">
                <span class="dta-name">Weather-Description :</span>
                <span class="dta-response"
                  ><%= data.weather[0].description %></span
                >
              </li>
              <li class="list-group-item">
                <span class="dta-name">Temperature in Kelvin :</span>
                <span class="dta-response"><%= data.main.temp %></span>
              </li>
              <li class="list-group-item">
                <span class="dta-name">Pressure in hPa :</span>
                <span class="dta-response"><%= data.main.pressure %></span>
              </li>
              <li class="list-group-item">
                <span class="dta-name">Humidity :</span>
                <span class="dta-response"><%= data.main.humidity %></span>
              </li>
              <li class="list-group-item">
                <span class="dta-name"
                  >Atmospheric Pressure at Sea Level (hPa):</span
                >
                <span class="dta-response"><%= data.main.sea_level %></span>
              </li>
              <li class="list-group-item">
                <span class="dta-name">Wind Speed (met/sec) :</span>
                <span class="dta-response"><%= data.wind.speed %></span>
              </li>
              <li class="list-group-item">
                <span class="dta-name">Cloud Percentage :</span>
                <span class="dta-response"><%= data.clouds.all %></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
